version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user_db
      POSTGRES_PASSWORD: Aryaguna2022
      POSTGRES_DB: analytics_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: python django_app/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DBT_HOST: db
      DBT_USER: user_db
      DBT_PASS: Aryaguna2022
      DBT_PORT: 5432
      DBT_DB: analytics_db

    
  pgadmin:
    image: dpage/pgadmin4
    container_name: django_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
